USE [master]
GO
/****** Object:  Database [banhangsieuthi]    Script Date: 11/27/2019 4:06:14 PM ******/
CREATE DATABASE [banhangsieuthi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'banhangsieuthi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DKYUUBY\MSSQL\DATA\banhangsieuthi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'banhangsieuthi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.DKYUUBY\MSSQL\DATA\banhangsieuthi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [banhangsieuthi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [banhangsieuthi]
GO
/****** Object:  Table [dbo].[chitiepphieunhap]    Script Date: 11/27/2019 4:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiepphieunhap](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[manhap] [nvarchar](20) NULL,
	[mamathang] [nvarchar](20) NULL,
	[soluong] [int] NULL,
	[dongia] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitiethoadon]    Script Date: 11/27/2019 4:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitiethoadon](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[mahoadon] [nvarchar](20) NULL,
	[mamathang] [nvarchar](20) NULL,
	[soluong] [int] NULL,
	[dongia] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietphieugiaoca]    Script Date: 11/27/2019 4:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieugiaoca](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[magiaoca] [nvarchar](20) NULL,
	[mamathang] [nvarchar](20) NULL,
	[soluong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietphieuxuat]    Script Date: 11/27/2019 4:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieuxuat](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[maxuat] [nvarchar](20) NULL,
	[mamathang] [nvarchar](20) NULL,
	[soluong] [int] NULL,
	[dongia] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chucvu]    Script Date: 11/27/2019 4:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chucvu](
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 11/27/2019 4:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[ma] [nvarchar](20) NOT NULL,
	[ngaylap] [datetime] NULL,
	[tonggiatri] [float] NULL,
	[thanhtien] [float] NULL,
	[manhanvien] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 11/27/2019 4:06:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](200) NULL,
	[sodienthoai] [nvarchar](15) NULL,
	[uudai] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachmuahang]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachmuahang](
	[stt] [int] IDENTITY(1,1) NOT NULL,
	[makhachhang] [nvarchar](20) NULL,
	[mahoadon] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khohang]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khohang](
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mathang]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mathang](
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[loaimathang] [nvarchar](50) NULL,
	[donvitinh] [nvarchar](10) NULL,
	[maquay] [nvarchar](20) NULL,
	[manhacc] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhacungcap](
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[diachi] [nvarchar](200) NULL,
	[sodienthoai] [nvarchar](15) NULL,
	[email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[ngaysinh] [datetime] NULL,
	[diachi] [nvarchar](200) NULL,
	[sodienthoai] [nvarchar](15) NULL,
	[machucvu] [nvarchar](20) NULL,
	[taikhoan] [nvarchar](50) NULL,
	[matkhau] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieugiaoca]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieugiaoca](
	[ma] [nvarchar](20) NOT NULL,
	[ngay] [datetime] NULL,
	[ca] [int] NULL,
	[maquay] [nvarchar](20) NULL,
	[manhanvien] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieukiemke]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieukiemke](
	[ma] [nvarchar](20) NOT NULL,
	[ngaylap] [datetime] NULL,
	[mamathang] [nvarchar](20) NULL,
	[soluong] [int] NULL,
	[manhanvien] [nvarchar](20) NULL,
	[makhohang] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieunhapkho]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieunhapkho](
	[ma] [nvarchar](20) NOT NULL,
	[makhohang] [nvarchar](20) NULL,
	[ngaynhap] [datetime] NULL,
	[tonggiatri] [float] NULL,
	[manhacungcap] [nvarchar](20) NULL,
	[manhanvien] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuxuatkho]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuxuatkho](
	[ma] [nvarchar](20) NOT NULL,
	[ngayxuat] [datetime] NULL,
	[tonggiatri] [float] NULL,
	[makhohang] [nvarchar](20) NULL,
	[manhanvien] [nvarchar](20) NULL,
	[maquay] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quayhang]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quayhang](
	[ma] [nvarchar](20) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[vitri] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chitiepphieunhap] ON 

INSERT [dbo].[chitiepphieunhap] ([stt], [manhap], [mamathang], [soluong], [dongia]) VALUES (1, N'MN0001', N'HH0001', 1, 500000)
SET IDENTITY_INSERT [dbo].[chitiepphieunhap] OFF
SET IDENTITY_INSERT [dbo].[chitiethoadon] ON 

INSERT [dbo].[chitiethoadon] ([stt], [mahoadon], [mamathang], [soluong], [dongia]) VALUES (1, N'HD0001', N'HH0001', 1, 500000)
SET IDENTITY_INSERT [dbo].[chitiethoadon] OFF
SET IDENTITY_INSERT [dbo].[chitietphieugiaoca] ON 

INSERT [dbo].[chitietphieugiaoca] ([stt], [magiaoca], [mamathang], [soluong]) VALUES (1, N'GC0001', N'HH0001', 1)
SET IDENTITY_INSERT [dbo].[chitietphieugiaoca] OFF
SET IDENTITY_INSERT [dbo].[chitietphieuxuat] ON 

INSERT [dbo].[chitietphieuxuat] ([stt], [maxuat], [mamathang], [soluong], [dongia]) VALUES (1, N'MX0001', N'HH0001', 1, 500000)
SET IDENTITY_INSERT [dbo].[chitietphieuxuat] OFF
INSERT [dbo].[chucvu] ([ma], [ten]) VALUES (N'NV', N'Nhân Viên')
INSERT [dbo].[chucvu] ([ma], [ten]) VALUES (N'QL', N'Quản lý')
INSERT [dbo].[hoadon] ([ma], [ngaylap], [tonggiatri], [thanhtien], [manhanvien]) VALUES (N'HD0001', CAST(N'2019-10-20T00:00:00.000' AS DateTime), 500000, 500000, N'NV0001')
INSERT [dbo].[khachhang] ([ma], [ten], [diachi], [sodienthoai], [uudai]) VALUES (N'KH000001', N'Lê Ngọc', N'236 Hoàng Quốc Việt', N'0987356452', 5)
SET IDENTITY_INSERT [dbo].[khachmuahang] ON 

INSERT [dbo].[khachmuahang] ([stt], [makhachhang], [mahoadon]) VALUES (1, N'KH000001', N'HD0001')
SET IDENTITY_INSERT [dbo].[khachmuahang] OFF
INSERT [dbo].[khohang] ([ma], [ten], [diachi]) VALUES (N'KHO0001', N'Rau củ', NULL)
INSERT [dbo].[khohang] ([ma], [ten], [diachi]) VALUES (N'KHO001', N'Rau củ', N'Hà Nội')
INSERT [dbo].[khohang] ([ma], [ten], [diachi]) VALUES (N'KHO002', N'Ướp lạnh', N'Hà Nội')
INSERT [dbo].[mathang] ([ma], [ten], [loaimathang], [donvitinh], [maquay], [manhacc]) VALUES (N'HH0001', N'Bánh A', N'Đồ khô', N'Hộp', N'QUAY006', N'NCC')
INSERT [dbo].[nhacungcap] ([ma], [ten], [diachi], [sodienthoai], [email]) VALUES (N'NCC', N'TNHH AFTT', N'Hà Nội', N'0111112312', N'aftt@gmail.com')
INSERT [dbo].[nhanvien] ([ma], [ten], [ngaysinh], [diachi], [sodienthoai], [machucvu], [taikhoan], [matkhau]) VALUES (N'NV0002', N'A1', CAST(N'2019-11-27T00:00:00.000' AS DateTime), N'Hà Nội', N'0165548623', N'QL', N'qert', N'1')
INSERT [dbo].[nhanvien] ([ma], [ten], [ngaysinh], [diachi], [sodienthoai], [machucvu], [taikhoan], [matkhau]) VALUES (N'NV0003', N'A3', CAST(N'2019-11-27T00:00:00.000' AS DateTime), N'Hà Nội', N'0165554231', N'NV', N'A3k', N'1')
INSERT [dbo].[nhanvien] ([ma], [ten], [ngaysinh], [diachi], [sodienthoai], [machucvu], [taikhoan], [matkhau]) VALUES (N'NV0001', N'Lê Văn A', CAST(N'2019-01-30T00:00:00.000' AS DateTime), N'Hà Nội', N'0235654456', N'QL', N'QL01', N'1')
INSERT [dbo].[phieugiaoca] ([ma], [ngay], [ca], [maquay], [manhanvien]) VALUES (N'GC0001', CAST(N'2019-02-02T00:00:00.000' AS DateTime), 1, N'QUAY0001', N'NV0001')
INSERT [dbo].[phieukiemke] ([ma], [ngaylap], [mamathang], [soluong], [manhanvien], [makhohang]) VALUES (N'KK0001', CAST(N'2019-02-02T00:00:00.000' AS DateTime), N'HH0001', 10000, N'NV0002', N'QUAY0006')
INSERT [dbo].[phieunhapkho] ([ma], [makhohang], [ngaynhap], [tonggiatri], [manhacungcap], [manhanvien]) VALUES (N'NK0001', N'KHO0001', CAST(N'2019-02-02T00:00:00.000' AS DateTime), 500000000, N'NCC', N'NV0001')
INSERT [dbo].[phieuxuatkho] ([ma], [ngayxuat], [tonggiatri], [makhohang], [manhanvien], [maquay]) VALUES (N'XK0001', CAST(N'2019-02-02T00:00:00.000' AS DateTime), 500000000, N'KHO0001', N'NV0001', N'QUAY0001')
INSERT [dbo].[quayhang] ([ma], [ten], [vitri]) VALUES (N'QUAY001', N'Rau củ', N'A1-1')
INSERT [dbo].[quayhang] ([ma], [ten], [vitri]) VALUES (N'QUAY002', N'Ướp lạnh', N'A1-2')
INSERT [dbo].[quayhang] ([ma], [ten], [vitri]) VALUES (N'QUAY003', N'Hải sản', N'A2-1')
/****** Object:  StoredProcedure [dbo].[sp_dangnhap]    Script Date: 11/27/2019 4:06:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_dangnhap] @username nvarchar(50), @password nvarchar(50)
as
begin
	select taikhoan, matkhau from nhanvien where
	taikhoan=@username and matkhau=@password
end 
GO
USE [master]
GO
